<h4> Estimado <%= @nombre %>, </h4>

<p> Le informamos que ha sido rechazado del siguiente viaje: </p>
<h5> <%= @ruta_nombre %> </h5>
<h5> <%= @fecha.strftime("%d/%m/%y - %H:%M") %> </h5>
<p> por el siguiente motivo: <%= @pasaje.getEstado %> </p>

<br>
<p> Atentamente, el equipo de COMBI-19 </p>