<p> Hola <%= @usuario.nombre %> , bienvenido a Combi-19 <p> 
<p> Fuiste registrado por uno de los empleados de la empresa</p>
<p> Tu contraseña es: <%= @usuario.password %> </p>
<p> Podes cambiarla desde la pagina una vez iniciada la sesion </p>