<% if usuario_signed_in? and current_usuario.rol == "admin" %>
  <h1>Origen: <%= @ruta.getCiudadOrigen %></h1>
  <h1>Destino: <%= @ruta.getCiudadDestino %></h1>
<% else %>
  <h3> <i> Usted no tiene permiso para ver esta página. </i> </h3>
<% end %>

<%= link_to "Regresar", rutas_path %>