<% if usuario_signed_in? %>

<table class="table">
		<tr>
			<th> Ruta </th>
			<th> Salida </th>
		</tr>

		<% @viajes.each do |viaje| %>
		<tr>
			<td> <%= viaje.ruta.nombre %> </td>
			<td> <%= viaje.fecha_hora.strftime("%d/%b/%Y - %H:%M") %> </td>
		</tr>
		<% end %>
</table>

<h3> Los siguientes viajes serán cancelados! </h3>

<%= link_to "Eliminar cuenta y cancelar pasajes", eliminar_cuenta_con_pasajes_path(resource), class: 'btn btn-info btn-sm' %>

<%= link_to "Volver", root_path, class: 'btn btn-info btn-sm' %>

<% end %>