<!-- Ciudad#index -->
<h1> Listado de ciudades </h1>

<% if @ciudades.size == 0 %>
	<p> No hay ciudades cargadas en el sistema </p>
<% end %>

<ol>
<% @ciudades.each do |ciudad| %>
	<li>
		<%= ciudad.nombre %>
		<%= link_to "Eliminar", ciudad, method: :delete, data: {confirm: "¿Está seguro?"} %>
	</li>
	<br>
<% end %>
</ol>

<br> <br>

<% if current_usuario.rol == "admin"%>
	<%= link_to "Añadir nueva ciudad", new_ciudad_path %> </br>
<%end%>

<%= link_to "Regresar", root_path %>