<% if usuario_signed_in? and current_usuario.rol == "admin" %>


<h1> Listado de ciudades </h1>
<%= link_to "Nueva ciudad", new_ciudad_path %>

<% if @ciudades.size == 0 %>
	<p> No hay ciudades cargadas en el sistema </p>
<% end %>

<ol>
<% @ciudades.each do |ciudad| %>
	<li>
		<%= ciudad.nombre %>
		<%= link_to "Eliminar", ciudad, method: :delete, data: {confirm: "¿Está seguro?"} %>
	</li>
	<br>
<% end %>
</ol>

<% else %>

<h3> <i> Usted no tiene permiso para ver esta página. </i> </h3>

<% end %>

<br>
<%= link_to "Regresar", root_path %>

