<% if usuario_signed_in? and current_usuario.rol == "admin" %>


<h1> Listado de ciudades </h1>

<% if @ciudades.size == 0 %>
	<p> No hay ciudades cargadas en el sistema </p>
<% end %>

<table class="table">
	<tr>
		<th> Nombre </th>
		<th> Acciones </th>
	<tr>
	<% @ciudades.each do |ciudad| %>
		<tr>
			<td> <%= ciudad.nombre %> </td>
			<td> <%= link_to "Eliminar", ciudad, method: :delete, data: {confirm: "¿Está seguro?"} ,class: 'btn btn-danger btn-sm'%> </td>
		<tr>
	<% end %>
</table>

<br> 
<%= link_to "Añadir nueva ciudad", new_ciudad_path %> </br>

<% else %>

<h3> <i> Usted no tiene permiso para ver esta página. </i> </h3>

<% end %>

<br>
<%= link_to "Regresar", root_path %>