
<header>
	<nav class="navbar navbar-expand-lg navbar-dark">
	  <!-- a href="#" class="navbar-brand">Logo</a -->
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag "logo.png", title: "Logo", class: "logo", size: "64x64" %>
    <% end %>
	  <button class="navbar-toggler" type="button" data-target="#navigation">
	      <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse">
	      <ul class="navbar-nav">
	          <li class="nav-item active">
	              <a href="#" class="nav-link">Inicio</a>
	          </li>
	          
	          <li class="nav-item">
	              <a href="/viajes" class="nav-link">Buscar viajes</a>
	          </li>

	          <li class="nav-item">
	              <a href="#" class="nav-link">Contacto</a>
	          </li>

	          <% if usuario_signed_in? and current_usuario.rol == "admin" %>
							<li class="nav-item dropdown">
		              <a class="nav-link dropdown-toggle" href="#" id="navdrop" role="button" data-toggle="dropdown" data-hover="dropdown">Administrador</a>
		              <div class="dropdown-menu" aria-labelledby="navdrop">
		                  <a href="#" class="dropdown-item">Ciudades</a>
		                  <a href="#" class="dropdown-item">Adicionales</a>
		                  <a href="#" class="dropdown-item">Rutas</a>
		                  <a href="#" class="dropdown-item">Combis</a>
		                  <a href="#" class="dropdown-item">Choferes</a>
		                  <a href="#" class="dropdown-item">Usuarios</a>
		                  <a href="#" class="dropdown-item">Registrar un usuario</a>
		              </div>
		          </li>
		        <% end %>

	          <% if usuario_signed_in? and current_usuario.rol == "chofer" %>
	          	<li class="nav-item dropdown">
	              <a class="nav-link dropdown-toggle" href="#" id="navdrop" role="button" data-toggle="dropdown" data-hover="dropdown">Chofer</a>
	              <div class="dropdown-menu" aria-labelledby="navdrop">
	                  <a href="#" class="dropdown-item">Combis</a>
	                  <a href="#" class="dropdown-item">Registrar un cliente</a>
	              </div>
	          	</li>
	          <% end %>

	          <% if usuario_signed_in? %>
		          <li class="nav-item dropdown">
		              <a class="nav-link dropdown-toggle" href="#" id="navdrop" role="button" data-toggle="dropdown" data-hover="dropdown">Cuenta</a>
		              <div class="dropdown-menu" aria-labelledby="navdrop">
		                  <a href="#" class="dropdown-item">Perfil</a>
		                  <a href="#" class="dropdown-item">Modificar cuenta</a>
		                  <a href="#" class="dropdown-item">Cerrar sesión</a>
		              </div>
		          </li>
		        <% else %>
		          <li class="nav-item dropdown">
		              <a class="nav-link dropdown-toggle" href="#" id="navdrop" role="button" data-toggle="dropdown" data-hover="dropdown">Cuenta</a>
		              <div class="dropdown-menu" aria-labelledby="navdrop">
		                  <a href="#" class="dropdown-item">Iniciar sesión</a>
		                  <a href="#" class="dropdown-item">Registrarse</a>
		              </div>
		          </li>
		        <% end %>
	      </ul>
	  </div>
	</nav>
  </header>