
<header>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          
          <%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag "logo.png", title: "Logo", class: "logo", size: "64x64" %>
            Combi-19
          <% end %>
        </div>

    </div>
  </header>